#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-container {
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
  background-color: #fff;
}

.item {
  border-radius: 8px;
  padding: 16px;
  max-width: 360px;
  background: #f6f6fe;
}
.item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 24px;
}
.item-list {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}
.item-list:not(:last-child) {
  margin-bottom: 8px;
}
